<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>¿Estás seguro de que quieres eliminar este evento?</h1>
    <p>Título: {{ object.title }}</p>
    <p>Descripción: {{ object.description }}</p>
    <p>Fecha de Inicio: {{ object.start_time }}</p>
    <p>Fecha de Fin: {{ object.end_time }}</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar Eliminación</button>
        <a href="{% url 'agendapersonal:eventDetail' object.pk %}"><input type="button"  value="Cancelar"></input></a>
    </form>

</body>
</html>