<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>{{ object.title }}</h1>

    <p>
        Descripción: {{ object.description }}
    </p>
    <p>
        Hora de inicio: {{ object.start_time }}
    </p>
    <p>
        Hora de fin: {{ object.end_time }}
    </p>
    <br>
    <a href="{% url 'agendapersonal:updateEvent' object.pk %}"><input type="button"  value="modificar"></input></a>
    <a href="{% url 'agendapersonal:deleteEvent' object.pk %}"><input type="button"  value="eliminar"></input></a>
    <br><br><br>
    <a href="{% url 'agendapersonal:index' %}">Volver al inicio</a>

</body>
</html>