<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Eventos Pasados:</h1>

    {% if past_events_list %}
        <ul>
            {% for obj in past_events_list %}
                <li> {{ obj.title }}
                <ul>
                    <li>Finalizó el {{ obj.end_time }} </li>
                </ul></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No events are available.</p>
    {% endif %}

    <br><br>
    <a href="{% url 'agendapersonal:index' %}">Volver al inicio</a>

</body>
</html>