<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>{{ object.title }}</h1>

<p>
    Fecha: {{ object.completion_date }}
</p>
<br>
    <a href="{% url 'agendapersonal:updateTask' object.pk %}"><input type="button"  value="modificar"></input></a>
    <a href="{% url 'agendapersonal:deleteTask' object.pk %}"><input type="button"  value="eliminar"></input></a>
    <br><br><br>
<a href="{% url 'agendapersonal:index' %}">Volver al inicio</a>

</body>
</html>